body
{
    /* background-color: blue; */
    margin: 0px;
    font-family: sans-serif;
    /* color: #11999E; */
   
}
.topdiv
{
    margin: 0px;
    background-color: black;
    padding: 1.25rem;
    /* border-left: solid 10px;
    border-right: solid 10px;
    border-bottom: solid 10px; */
    border-color: black;
    height: 51.25rem; 
}

.middiv
{
    
    height: 168.125rem;
    background-color: white;
   
}
.bottomdiv
{
    height: 6.5625rem;
    background-color: #FCF8E8;
    
}
.rocket
{
    padding: 50px 0 0 0;
    height: 9.375rem;
    width: 9.375rem;
    position: fixed;
}
#building{
    position: absolute;
    right: 0.625rem;
    /* top: 485px; */
    left: 0.625rem;
    height: 50rem;
    width: 77.6875rem;
    /* size: 1080px 159px;
    object-fit: cover; */
}
.mainheading{
    padding: 3.125rem 0 0 0;
    margin: 110 auto 0 auto;
    width: 60%;
    color: #Fcf8e8;
    font-family: 'Sacramento', cursive;
    text-align: center;
    position: relative;
    font-size: 6.25rem;
    line-height: 1;
    font-weight: 1800;
    text-shadow: 9px 9px 9px #303e3a;
    opacity: 1.5;
}
.mainsubheading
{
    padding: 0px 0 0 0;
    margin: 110 auto 0 auto;
    width: 30%;
    color: #fcf8e8;
    font-family: 'Sacramento', cursive; 
    font-family: 'Cookie', cursive;
    text-align: center;
    position: relative;
    font-size: 2.8125rem;
    line-height: 1;
    font-weight: 400;
    text-shadow: 9px 9px 9px #303e3a;
    opacity: 1.5;
}
p{
    margin: 10 auto 0 auto;
    /* width: 30%; */
    color: whitesmoke;
    text-align: center;
}

.contacts
{
    margin-top: 0;
}
h3{
    color: #11999E;
    text-align: center;
    
}
h2{
    color: #11999E;
    text-align: center;
    text-shadow: 2px 2px 2px #303e3a;
}
.footer-link
{
    color: #11999E;
}
.selena-img
{
    width: 30%;
    margin-left: 1.25rem;
    float: right;
}
.selena-img2
{
    width: 30%;
    margin-right: 1.25rem;
    float: left;
    height: 6.25rem;
}
.ju-img
{
    width: 30%;
    margin-right: 1.25rem;
    float: left;
}

.coding-img
{
    width: 48%;
    margin-left: 1.25rem;
    float: right;
}

.selena-img :hover
{
    background-color: red;
}
.skill-row
{
    width: 50%;
    margin: 100 auto 100 auto;
}
.pupu
{
    text-align: left;
    /* clear: left; */
    line-height: 1.5;
}
.bhou
{
    text-align: left;
}
.footer-link
{
    color: black;
    text-decoration: none;
    position: relative;
    left: 30.3125rem;
    padding: 1.875rem;
}
.footer-link:hover{
    color: #11999E;
    font-size: 110%;
}

.navbar{
    border-left: solid 10px;
    border-right: solid 10px;
    border-top: solid 10px;
    border-color: black;
    background-color: black;
    
}

.navimg{
    height: 1.71875rem;
    width:1.71875rem;
}
.myface
{
    display: block;
    margin: 0 auto 0 auto;
    padding-top: 25;
    height: 11.25rem;
    border-radius: 50%;
    width: 9.25rem;
    /* position: relative;
    left: 34.735rem;
    top: 2.8125rem; */

}


#profileh2
{
    position: relative;
    top: 3.4375rem;
}
#profilep{
    position: relative;
    top: 3.625rem;
    margin: 10 auto 0 auto;
    /* width: 30%; */
    color: #E0DECA;
    text-align: center;
}
.xd
{
    
    /* margin: 10 auto 0 auto; */
        /* width: 30%; */
    color: #051367;
    /* text-align: center; */
    
}
.selena-img3
{
    text-align: center;
    /* position: relative;
    left: 32.5rem; */
    display: block;
    margin: 0 auto 0 auto;
}
/* .btn{
    background-color: #4CAF50; 
    border: none;
    color: white;
    margin-top: 40px;
    position: relative;
    left: 557px;
    
} */



  .btn {
    -webkit-border-radius: 36;
    -moz-border-radius: 36;
    border-radius: 36px;
    -webkit-box-shadow: 1px 1px 6px #666666;
    -moz-box-shadow: 1px 1px 6px #666666;
    box-shadow: 1px 1px 6px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 7px;
    background: #eb2c2c;
    border: solid #decdd1 2px;
    text-decoration: none;
    margin-top: 4.375rem;
    position: relative;
    left: 34.8125rem;
  }
  
  .btn:hover {
    background: #def52c;
    background-image: -webkit-linear-gradient(top, #def52c, #401385);
    background-image: -moz-linear-gradient(top, #def52c, #401385);
    background-image: -ms-linear-gradient(top, #def52c, #401385);
    background-image: -o-linear-gradient(top, #def52c, #401385);
    background-image: linear-gradient(to bottom, #def52c, #401385);
    text-decoration: none;
  }

  
  .flimg
  {
    height: 1.875rem;
    width: 1.875rem;
   
  }

 .flc
 {
    /* position:relative; */
    display: block;
    margin: 0 auto 0 auto;
    padding-top: 1.5625rem;
    padding-left: 35rem;
 } 
 hr{
    border: dotted  3.125rem;
    border-style: dotted;
    border-top: 3.125rem;
    border-bottom: none;
    width: 00%;
    margin: 6.25rem auto;
}

.profile
{
    height: 21.875rem;
    background-color: #11999E;
}
.education
{
    background-color: #66BFBF;
    position: relative;
    top: -2.1875rem;
    height: 34.375rem;
}
.skills
{
    position: relative;
    top: -9.6875rem;
    height: 21.875rem;
    background-color: #EAF6F6; 
    
}
.interest
{
    position: relative;
    top: -11.875rem;
    background-color: brown;
    height: 65.625rem;
}
.contact-me
{
    position: relative;
    top: -14.0625rem;
    height: 25rem;
    background-color: #FEB139;
}

/* .ding{
    color: red;
} */
